$color-default: #333;
$background-color-default: #f8f8f8;
$border-color-default: #e7e7e7;
$green: #3fbe68;

$navbar-outter-height: 100px;
$footer-outter-height: 65px;

$padding-elements: 15px;
$padding-elements-mobile: 5px;

$margin-top-h3: 20px;

$mobile-max-width: 767px;


main {
	.container {
		margin-top: $navbar-outter-height;
		margin-bottom: $footer-outter-height;
	}
}

.glyphicon {
	font-size: 1.3em;
}

.thumb {
	border-bottom: 1px solid $border-color-default;
	padding: $padding-elements 0;

	.thumb-title .glyphicon-heart {
		margin-top: $margin-top-h3;
	}

	.start-line {
		margin-bottom: $padding-elements;
	}

	.thumb-content p {
		margin-bottom: $padding-elements * 2;
	}

	.thumb-features .thumb-features-item p {

			text-align: center;

	}

	.thumb-features .glyphicon {
		padding: $padding-elements;
		@media screen and (max-width: $mobile-max-width) {
			width: 100%;
		}
	}

}

.social-block {
	padding-left: 0;

	li {
		display: inline-block;
		padding: $padding-elements;
		@media screen and (max-width: $mobile-max-width) {
			padding: $padding-elements-mobile;
		}
	}

	a {
		color: inherit;
	}
}

#footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: $background-color-default;
	border: 1px solid $border-color-default;
}

.footer-quotes {
	text-align: right;
	padding-top: $padding-elements;
	@media screen and (max-width: $mobile-max-width) {
		padding-top: $padding-elements-mobile;
	}
	span {
		color: $green;
	}
}



