main > .container {
  margin-top: 100px;
  margin-bottom: 65px; }

.glyphicon {
  font-size: 1.3em; }

.thumb {
  border-bottom: 1px solid #e7e7e7;
  padding: 15px 0; }
  .thumb .thumb-title .glyphicon-heart {
    margin-top: 20px; }
  .thumb .start-line {
    margin-bottom: 15px; }
  .thumb .thumb-content p {
    margin-bottom: 30px; }
  .thumb .thumb-features .thumb-features-item p {
    text-align: center; }
  .thumb .thumb-features .glyphicon {
    padding: 15px; }
    @media screen and (max-width: 767px) {
      .thumb .thumb-features .glyphicon {
        width: 100%; } }

.social-block {
  padding-left: 0; }
  .social-block li {
    display: inline-block;
    padding: 15px; }
    @media screen and (max-width: 767px) {
      .social-block li {
        padding: 5px; } }
  .social-block a {
    color: inherit; }

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f8f8f8;
  border: 1px solid #e7e7e7; }

.footer-quotes {
  text-align: right;
  padding-top: 15px; }
  @media screen and (max-width: 767px) {
    .footer-quotes {
      padding-top: 5px; } }
  .footer-quotes span {
    color: #3fbe68; }

.user-actions.bottom {
  position: fixed;
  bottom: 10em; }

.user-actions .btn {
  float: right; }

.user-actions .btn-left {
  float: left; }

textarea.form-control {
  height: 300px; }

.nav .form-group {
  margin-bottom: 0; }
